/* ---------- DASHBOARD ---------- */

/* Hide AI Banner */
.ms-dashboards__StartFrom-module__main--FANmd {
  display: none;
}

/* ---------- MEDIA MANAGER ---------- */

/* ---------- Left Side Panel ---------- */

div#left-menu-MY-btn {
order: -1;
}

#left-menu-FREE-btn,
#left-menu-PREMIUM-btn {
  display: none;
}

/* Upload Button */

#left-menu-upload-btn {
  display: none;
}

#left-menu-upload-btn hr {
  display: none;
}

.FolderList-module-main-gAoQQ-aps {
  max-height: auto;
}

/* ---------- COLLECTIONS INTERFACE ---------- */

/* SIDEBAR */

/* Remove icons */
.IconThumbnail-module_iconThumbnail__jnvh4.IconThumbnail-module_solidGrey__dZpQj.IconThumbnail-module_border-default__QJbD4.IconThumbnail-module_size40__RAdYm {
  display: none;
}

[data-auto="collection-item-cvps"] {
  padding: 6px;
}

[data-auto="collection-item-cvps-clickable"] .collection-item-cvps-icon-thumbnail .ListItem-module_listItemContent__AmLdM {
  flex-diretion: row;
  gap: 6px;
}

/* COLLECTIONS TABLE */

.CoreTable-module_table-body__-Es1D::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

/* DROPDOWN SAVE BUTTONS */
form[data-auto="add-field-popup"] {
  display: flex;
  flex-direction: column;
}

form[data-auto="add-field-popup"] > div:has(button[data-auto="save"]) {
  order: -1;
}
