/* ---------- DASHBOARD ---------- */

.GlobalDesign-module-container-E3-i9-aps {
  background: red !important;
}

/* Hide AI Banner */

  .ms-dashboards__StartFrom-module__main--FANmd {
    display: none;
  }

/* ---------- MEDIA MANAGER ---------- */

/* ---------- Left Side Panel ---------- */

  div#left-menu-MY-btn {
  order: -1;
  }
  
  #left-menu-FREE-btn,
  #left-menu-PREMIUM-btn {
    display: none;
  }

/* Upload Button */

  #left-menu-upload-btn {
    display: none;
  }
  
  #left-menu-upload-btn hr {
    display: none;
  }
  
  .FolderList-module-main-gAoQQ-aps {
    max-height: auto;
  }

/* ---------- COLLECTIONS INTERFACE ---------- */

/* SIDEBAR */

  /* Hide the icon */
  div[data-auto="collection-item-cvps-icon-thumbnail"] {
    display: none !important;
  }
  
  /* Reduce padding */
  div[data-auto="collection-item-cvps"] {
    padding: 6px !important;
  }
  
  /* Put title + "Internal · 3 Items" on one row */
  div[data-auto="collection-item-cvps-clickable"]
  > div.ListItem-module_listItemContent__AmLdM {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    gap: 6px !important;
  }

/* COLLECTIONS TABLE */

  .CoreTable-module_table-body__-Es1D::-webkit-scrollbar {
    height: 12px;
    width: 12px;
  }

/* DROPDOWN SAVE BUTTONS */

  form[data-auto="add-field-popup"] {
    display: flex !important;
    flex-direction: column !important;
  }
  
  form[data-auto="add-field-popup"] > div:has(button[data-auto="save"]) {
    order: -1 !important;
  }
